canvas {
    position: relative;
    left: 15%;
    border: black solid 2px;
    cursor: crosshair;
}

#options {
    position: fixed;
    float: left;
    height: 100%;
    background: maroon;
    width: 15%;
}
button {
    margin: 3px;
}

body {
    margin: 0;
}

input{
    line-height: 1em;
}