doctype html
head
    meta(charset='utf-8')
    title Projects
    link(rel='stylesheet' type='text/css' href='stylesheets/projects.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
header
    nav
        ul
            li
                a#logOut
                    span.nav-option Logout
main
    p.title
        | Your Projects
    .catalog#catalog
        .new-product
            img(src='images/back.png')
            h1 Empty
            button.button
                span.button-text#create-new Create new Project
        .product
            img(src='images/back.png')
            h1 Empty
            button.button
                span.button-text Create new Project

script(src='javascripts/home.js')
script(src='javascripts/Models/ServerData.js')
