doctype html
head
    meta(charset='utf-8')
    title Login
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='stylesheets/Login-style.css')
.loginbox
    h1 Sign in
    form(id="form" method='post' enctype='multipart/form-data')
        p
            | Username:
        input#user(type='text' name='username' placeholder='Enter username' maxlength='10' required='')
        p Password:
        input#password(type='password' name='password' placeholder='Enter password' minlength='6' required='')
        input.button(type='submit' value='Log In')
        a#register(href='/register') Don&apos;t have an account? Sign up!
        br
script(src='javascripts/login.js')
