doctype html
head
    meta(charset='UTF-8' name='viewport' content='width=device-width, initial-scale=1')
    title Canvas
    link(rel='stylesheet' type='text/css' href='stylesheets/home.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr' crossorigin='anonymous')
#options
    #current.choice
    br
    button#rectangle(onclick="changeCurrentShape('rectangle')") Rectangle
    br
    button#line(onclick="changeCurrentShape('line')") Line
    br
    button#circle(onclick="changeCurrentShape('circle')") Circle
    br
    button#ellipse(onclick="changeCurrentShape('ellipse')") Ellipse
    br
    button#text(onclick="changeCurrentShape('text')") Add Text
    br
    button#selector(onclick="changeCurrentShape('selector')") Select
    br
    button#floodFill(onclick="changeCurrentShape('fill')") Flood Fill
    br
    button#extract(onclick="changeCurrentShape('extract')") Extract Color
    br
    label.container
        | Add photo
    input#image(type='file' name='canvas' accept='image/x-png,image/gif,image/jpeg')
    br
    label.container
        | Fill
        input#fill.option-input.checkbox(type='checkbox' onchange='fill=checked')
    br
    label.col(for='color') Color
    input#color(type='color' value='color' onchange='color=value')
    br
    a#downloader.buttonDownload(href='#' onclick='downloadCanvas()' download='image.png') Download!
    br
canvas
.menu
    button#backpage
        i.fas.fa-arrow-left
        |  Back
    button#saveproject(onclick='save()')
        i.far.fa-save
        |  Save Project
    br
    label.projTitle Title
    input#projectTitle(type='text' maxlength='15')
#history.history

script.
    projectId = "#{projectId}";
script(src='javascripts/Models/Circle.js')
script(src='javascripts/Models/ServerData.js')
script(src='javascripts/Models/SelectRect.js')
script(src='javascripts/Models/Ellipse.js')
script(src='javascripts/Models/Line.js')
script(src='javascripts/Models/Rectangle.js')
script(src='javascripts/Models/Text.js')
script(src='javascripts/Models/editors.js')
script(src='javascripts/projects.js')


