doctype html
head
    meta(charset='utf-8')
    title Register
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='stylesheets/Register-style.css')
.registerbox
    h1 Register here
    form(id="form" method='post' enctype='multipart/form-data')
        p
            | Username:
        input#username(type='text' name='username' placeholder='Enter username' maxlength='10' required='')
        p Password:
        input#password(type='password' name='password' placeholder='Enter password' minlength='6' required='')
        input.button(type='submit' value='Register')
        a(href='/') Already have an account? Login!
        br
script(src='javascripts/register.js')
